body {
  width: 100wh;
  margin:0;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: #ffffff;
}

.opasity {
  background-color: rgba(0,0,0, .73);
  width: 100wh;
  height: 100%;
}

.conteiner {
  width: 1366px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 45px;
  padding-left: 150px;
  padding-right: 150px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.header {
  overflow: auto;
}

.logo {
  font-weight: bold;
  float: left;
}

.header a:hover {
color: #f26522;
cursor: pointer;
transition: all .5s;
}

.logo::before {
  content: url("../img/logo.png");
  width: 46px;
  height: 44px;
  display: inline-block;
}

.logo:hover:before {
  content: url("../img/logo_orange.png");
  transition: all .5s;
  cursor: pointer;
}

.logo div span:first-child {
  font-size: 1.61em;
}

.logo > div {
 display: inline-block;
 height: 44px;
 line-height: 1.1em;
}

.contacts {
  float: right;
  text-align: right;
}
/*end header*/

.box {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 308px;
  height: 294px;
  box-sizing: border-box;
  padding-top: 44px;
  padding-bottom: 12px;
  float: left;
  text-align: center;
 }

.photo {
  height: 200px;
  position: relative;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-image:linear-gradient(white, grey, black);
  border-image-slice: 1;
  box-shadow: 0 17px 24px black;
  margin-bottom: 20px;
 }

.photo-hover {
   width: 308px;
   height: 63px;
   box-sizing:border-box;
   padding: 15px 30px;
   background-color: #f26522;
   position: absolute;
   color: white;
   left:-2px;
   bottom: -2px;
   opacity:0;
}

p {
  margin: 0;
  text-align: left;
}

.box1 p:first-child {
 font-size: 0.6em;
}

.box1 p:last-child {
  font-size: 1.1em;
  position: relative;
  bottom:0;
}

.box2 p:first-child {
 font-size: 0.8em;
 margin-right:10px;
 display: inline-block;
}

.box2 p:last-child {
 font-size: 0.8em;
 display: inline-block;
}

.box1 {
  float:left;
}

.box2 {
  float: right;
  padding-top: 14px;
}

#shop {
  background-image: url("../img/Layer\ 21.png"); 
}

#sightseeing {
  background-image: url("../img/Layer\ 22.png");
}

#food {
  background-image: url("../img/Layer\ 23.png");
}

#bar {
  background-image: url("../img/Layer\ 24.png");
}

#art {
  background-image: url("../img/Layer\ 25.png");
}

#walking {
  background-image: url("../img/Layer\ 26.png");
}

.card:hover .photo .photo-hover {
  cursor: pointer;
  opacity:1;
  transition: all .5s;
}

.card:hover {
  color: #f26522;
  cursor: pointer;
  transition: all .5s;
}

/*start footer*/

.footer {
  font-size: 0.7em;
  text-align: center;
  padding-top: 44px;
  padding-bottom: 44px;
}

